<header id="section-header" class="Header Header--center Header--initialized " data-section-id="header" data-section-type="header" data-section-settings="{
  "navigationStyle" : "center",
"hasTransparentHeader" : false,
"isSticky" : true,
}"
role="banner">
<div class="Header__Wrapper">
  <div class="Header__FlexItem Header__FlexItem--fill">
    <button class="Header__Icon Icon-Wrapper Icon-Wrapper--clickable hidden-desk" aria-expanded="false" data-action="open-drawer" data-drawer-id="sidebar-menu" aria-label="Open navigation">
      <span class="hidden-tablet-and-up"><svg class="Icon Icon--nav" role="presentation" viewBox="0 0 20 14">
    <path d="M0 14v-1h20v1H0zm0-7.5h20v1H0v-1zM0 0h20v1H0V0z" fill="currentColor"></path>
  </svg></span>
      <span class="hidden-phone"><svg class="Icon Icon--nav-desktop" role="presentation" viewBox="0 0 24 16">
    <path d="M0 15.985v-2h24v2H0zm0-9h24v2H0v-2zm0-7h24v2H0v-2z" fill="currentColor"></path>
  </svg></span>
    </button><nav class="Header__MainNav hidden-pocket hidden-lap" aria-label="Main navigation">
        <ul class="HorizontalList HorizontalList--spacingExtraLoose"><li class="HorizontalList__Item is-active">
              <a href="/" class="Heading u-h6">Home<span class="Header__LinkSpacer">Home</span></a></li><li class="HorizontalList__Item ">
              <a href="/collections/mens-watches" class="Heading u-h6">Mens<span class="Header__LinkSpacer">Mens</span></a></li><li class="HorizontalList__Item ">
              <a href="/collections/ladies" class="Heading u-h6">Ladies<span class="Header__LinkSpacer">Ladies</span></a></li><li class="HorizontalList__Item ">
              <a href="/collections/watch-straps" class="Heading u-h6">Straps<span class="Header__LinkSpacer">Straps</span></a></li><li class="HorizontalList__Item ">
              <a href="/pages/gallery" class="Heading u-h6">About Us<span class="Header__LinkSpacer">About Us</span></a></li><li class="HorizontalList__Item ">
              <a href="/pages/how-to" class="Heading u-h6">How To...<span class="Header__LinkSpacer">How To...</span></a></li><li class="HorizontalList__Item " aria-haspopup="true">
              <a href="/blogs/news/lokdales-birmingham-city-fc" class="Heading u-h6">More</a><div class="DropdownMenu" aria-hidden="true">
                  <ul class="Linklist"><li class="Linklist__Item">
                        <a href="/pages/wholesale" class="Link Link--secondary">Distribution &amp; B2B </a></li><li class="Linklist__Item">
                        <a href="/pages/klarna-faq" class="Link Link--secondary">Klarna FAQ </a></li><li class="Linklist__Item">
                        <a href="/pages/gallery" class="Link Link--secondary">About us </a></li></ul>
                </div></li></ul>
      </nav><div class="Header__CurrencySelector Text--subdued Heading Link Link--primary u-h8 hidden-pocket hidden-lap">
    <div class="Select Select--transparent">
      <select class="CurrencySelector__Select u-h8" title="Currency selector"><option value="GBP" selected="selected">GBP</option><option value="USD">USD</option><option value="CAD">CAD</option><option value="EUR">EUR</option><option value="AUD">AUD</option><option value="MUR">MUR</option></select><svg class="Icon Icon--select-arrow" role="presentation" viewBox="0 0 19 12">

  </svg></div>
  </div></div><div class="Header__FlexItem"><h1 class="Header__Logo"><a href="/" class="Header__LogoLink"><img class="Header__LogoImage Header__LogoImage--primary" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" srcset="" width="100" height="150" alt="DAPPER DWELLINGS"></a></h1></div>

  <div class="Header__FlexItem Header__FlexItem--fill"><nav class="Header__SecondaryNav">
        <ul class="HorizontalList HorizontalList--spacingLoose hidden-pocket hidden-lap"><li class="HorizontalList__Item">
              <a href="/account/login" class="Heading Link Link--primary Text--subdued u-h8">Account</a>
            </li><li class="HorizontalList__Item">
            <a href="/search" class="Heading Link Link--primary Text--subdued u-h8" data-action="open-modal" aria-controls="Search">Search</a>
          </li>

          <li class="HorizontalList__Item">
            <a href="/cart" class="Heading u-h6" data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="Open cart">BAG (<span class="Header__CartCount">0</span>)</a>
          </li>
        </ul>
      </nav><a href="/cart" class="Header__Icon Icon-Wrapper Icon-Wrapper--clickable hidden-desk" data-action="open-drawer" data-drawer-id="sidebar-cart" aria-expanded="false" aria-label="Open cart">
      <span class="hidden-tablet-and-up"><svg class="Icon Icon--cart" role="presentation" viewBox="0 0 17 20">
    <path d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z" fill="currentColor"></path>
  </svg></span>
      <span class="hidden-phone"><svg class="Icon Icon--cart-desktop" role="presentation" viewBox="0 0 19 23">
    <path d="M0 22.985V5.995L2 6v.03l17-.014v16.968H0zm17-15H2v13h15v-13zm-5-2.882c0-2.04-.493-3.203-2.5-3.203-2 0-2.5 1.164-2.5 3.203v.912H5V4.647C5 1.19 7.274 0 9.5 0 11.517 0 14 1.354 14 4.647v1.368h-2v-.912z" fill="currentColor"></path>
  </svg></span>
      <span class="Header__CartDot "></span>
    </a>
  </div>
</div>
</header>
